<div class="welcome">
    <header>
        <h1>Fotoverse</h1>
    </header>
    <main>

        <h1 class="display-1 fw-bolder">
            <span class="text-gradient d-inline">
                Your New Visual Playground
            </span>
        </h1>

        <% if logged_in? %>
            <h1 class="verbs">You are logged in, <%= current_user.fname + " " + current_user.lname %></h1>
        <% end %>

        <div class="verbs">
            <p>Snap &middot; Share &middot; Inspire</p>
        </div>

        <div class="action">
            <%= button_to "Login", '/login', method: :get, class: "btn btn-outline-primary btn-lg"%>
            <%= button_to "Sign Up", '/signup', method: :get, class: "btn btn-primary btn-lg"%>
        </div>
        
    </main>
</div>
