<p>Hi <%= @user.fname %>,</p>

<p>Your account has been banned from Fotoverse. If you have any questions, please contact the admin.</p>

<p><%= @admin.fname %></p>
<p><a href="mailto:<%= @admin.email %>"></a></p>

<p>Thank you</p>
