<p>Hi <%= @user.fname %>,</p>

<p>Your account has been unbanned. You can now log in to Fotoverse.</p>

<p><%= @admin.fname %></p>
<p><a href="mailto:<%= @admin.email %>"></a></p>

<p>Enjoy your day!</p>