@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

body {
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
}

form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F9F9;
    padding: 2rem;
}

form > * {
    width: 300px;
}

form h1, form p:not(.field) {
    text-align: center;
}

form h1 {
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
}

.third-party {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
  