main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

main > * {
    max-width: 70rem;
}

main nav {
    position: fixed;
    bottom: 0;
}

main .content.display {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 4rem;
}

main .content.display .item {
    position: relative;
    cursor: pointer;
}

main .content.display :is(.mode, .count) {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(64, 64, 64, 0.5);  
    color: white;
}

main .content.display .mode {
    top: 0.5rem;
    left: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

main .content.display .count {
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.2rem;
    border-radius: 5px;
}

main .content.display img {
    width: 100%;
}

.modal-body .action {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    padding: 1rem 2rem;
}

.modal-footer * {
    padding: 0;
    margin: 0;
}

.modal-footer .react {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
