<p>Hello brother,</p>

<p>Just letting you know, someone has accessed our website. Here are the details of the user:</p>

<p>Name: <%= @user.fname + ' ' + @user.lname %></p>
<p>Email: <%= @user.email %></p>

<p>Woohoo! Our community are growing!</p>
