main.forgot-password {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-image: url('background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

main.forgot-password > h1 {
    color: white;
    margin-top: 5rem;
}

main.forgot-password form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F9F9;
    padding: 2rem;
}

main.forgot-password form > * {
    width: 300px;
}

main.forgot-password form h1, main.login form p:not(.field) {
    text-align: center;
}

main.forgot-password .or {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
}

main.forgot-password .or::before,
main.forgot-password .or::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid lightgray;
  margin: 0 10px;
}

main.forgot-password .horizontal {
    display: flex;
    justify-content: center;
    gap: 1rem;
}



