main.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

main.gallery .content {
    display: grid;
    gap: 1rem;
}

main.gallery .content .card {
    width: 18rem;
}

main.gallery .card {
    position: relative;
}

main.gallery .card .count {
    position: absolute;
    top: 4rem;
    right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(64, 64, 64, 0.5);  
    color: white;
    padding: 0.3rem;
    border-radius: 5px;
    aspect-ratio: 1 / 1;
    width: 2rem;
}

main.gallery :is(.card-header, .modal-header) a {
    text-decoration: none;
    color: black;
}

main.gallery :is(.card-header, .modal-header) .user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

main.gallery .modal-header .user {
    margin-right: 1rem;
}

main.gallery :is(.card-header, .modal-header) .user img {
    width: 2rem;
    border-radius: 50%;
}

main.gallery .image {
    cursor: pointer;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

main.gallery .card-img-top {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main.gallery :is(.card-header, .modal-header, .card-footer, .modal-footer) {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main.gallery :is(.card-header, .modal-header, .card-footer, .modal-footer) p {
    padding: 0;
    margin: 0;
}

main.gallery :is(.card-footer, .modal-footer) .react {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

@media screen and (min-width: 80rem) {
    main.gallery .content {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 60rem) and (max-width: 80rem) {
    main.gallery .content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 40rem) and (max-width: 60rem) {
    main.gallery .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 40rem) {
    main.gallery .content .card {
        width: 100%;
    }
}