main.login {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}

main.login form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F9F9;
    padding: 2rem;
}

main.login form > * {
    width: 300px;
}

main.login form h1, main.login form p:not(.field) {
    text-align: center;
}

main.login form h1 {
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
}

main.login .third-party {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}