main.login {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

main.login h2 {
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
    padding-top: 3rem;
}

main.login .wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    padding: 2rem;
}

main.login .wrapper form#new_user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.login .wrapper form#new_user > * {
    width: 300px;
}

main.login .wrapper h1, main.login .wrapper p:not(.field) {
    text-align: center;
}

main.login .third-party {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

main.login .third-party button form {
    padding: 0;
}

main.login .third-party button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.login .third-party button img {
    object-fit: cover;
}

main.login .or {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
}

main.login .or::before,
main.login .or::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid lightgray;
  margin: 0 10px;
}