@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

main.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main.signup h2 {
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
}

main.signup form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F9F9;
    padding: 2rem;
}

main.signup form > * {
    width: 300px;
}

main.signup form h1, form p:not(.field) {
    text-align: center;
}

main.signup form h1 {
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
}

main.signup .agree {
    text-align: center;
}

main.signup .third-party {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

main.signup .or {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

main.signup .or::before,
main.signup .or::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid lightgray;
  margin: 0 10px;
}