.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.welcome header {
    display: flex;
    padding: 2rem;
    width: 100%;
    justify-content: space-between;
}

.welcome header h1 {
    font-family: "Leckerli One", cursive;
    font-weight: 4100;
    font-style: normal;
    color: white;
}

.welcome main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7rem;
    max-width: 80rem;
    padding: 0 10%;
}

.welcome main h1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 5rem;
}

.welcome main .verbs {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(9,38,121,1) 0%, rgba(0,212,255,1) 100%);
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.welcome main .verbs p {
    margin: 0;
    font-size: 1.5rem;
}

.welcome main .action {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.welcome main .action .btn {
    padding: 1rem 2rem;
}

.welcome .text-gradient {
    color: white;
}

@media screen and (max-width: 1055px) {
    .welcome main h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 850px) {
    .welcome main h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 635px) {
    .welcome main h1 {
        font-size: 2rem;
    }
}